.painel {
    border: 3px solid rgba(14, 17, 31, 0.671);
    width: 700px;
    height: 700px;
    background-color: rgba(37, 75, 158, 0.418);
     border-radius: 10px;
     /* padding-left: 40px; */
     margin: auto;
     text-align: center;
     color:rgb(12, 10, 7)
    }
    .botao{
        background-color: rgba(0, 0, 0, 0.541);
        color:rgb(240, 248, 255);
        border-radius: 7px;
    }
    .titulo{
        font-family: garamond;
    }
    body{
        background-image: url(https://img.freepik.com/fotos-premium/fundo-de-verao-ceu-azul-nas-nuvens_527140-597.jpg);
      background-size: cover;
    }
    .imgTempo{
        animation: voltar 4s alternate infinite;
    }
    @keyframes voltar {
        0%{
            transform: translateX(100px);
        }
        100%{
            transform: translateX(-100px);
        }
    }